{{ partial "designer-meets-kuroigamen/header/header.html" . }}
<div class="body is-dont-be-afraid-kuroigamen">
  <article class="article">
    <div class="sm-container" itemprop="blogPost" itemscope="" itemtype="http://schema.org/BlogPosting">
      <div class="article__inner">
        <article class="article__content is-article">
          <header class="article__header">
            <h1 class="article__title" itemprop="headline">
        			<a href="{{ .RelPermalink }}" class="article__title-link js-mojik">
                {{ .Title }}
        			</a>
            </h1>
          </header>
          <div class="is-long-text js-target-blank js-mojik-text article__body" itemprop="articleBody">
            {{ .Content }}
          </div>
        </article>
      </div>
			{{ partial "article/previous-next-nav.html" . }}
    </div>
  </article>
</div>
{{ partial "footer/footer.html" . }}
