<nav class="global-nav">
  <ul class="global-nav__items">
    <li class="global-nav__item">
      <a href="/articles.html" class="global-nav__item-link {{ if eq (relURL .URL) ("/articles.html" | safeHTML) }}is-active{{ end }}">Articles</a>
    </li>
    <li class="global-nav__item">
      <a href="/works.html" class="global-nav__item-link {{ if eq (relURL .URL) ("/works.html" | safeHTML) }}is-active{{ end }}">Works</a>
    </li>
    <!--
      <li class="global-nav__item">
        <a href="/student-internship/" class="global-nav__item-link {{ if eq (relURL .URL) ("/student-internship/" | safeHTML) }}is-active{{ end }}">Internship</a>
      </li>
     -->
    <li class="global-nav__item">
      <a href="/contact.html" class="global-nav__item-link {{ if eq (relURL .URL) ("/contact.html" | safeHTML) }}is-active{{ end }}">Contact</a>
    </li>
    <li class="global-nav__item">
      <a href="https://bootcamp.fjord.jp/" class="global-nav__item-link" target="_blank">BootCamp</a>
    </li>
  </ul>
</nav>
