<nav class="global-nav">
  <ul class="global-nav__items">
    <li class="global-nav__item">
      <a href="/articles.html" class="global-nav__item-link {{ if eq (relURL .URL) ("/articles.html" | safeHTML) }}is-active{{ end }}">Articles</a>
    </li>
    <li class="global-nav__item">
      <a href="/works.html" class="global-nav__item-link {{ if eq (relURL .URL) ("/works.html" | safeHTML) }}is-active{{ end }}">Works</a>
    </li>
    <li class="global-nav__item">
      <a href="/contact.html" class="global-nav__item-link {{ if eq (relURL .URL) ("/contact.html" | safeHTML) }}is-active{{ end }}">Contact</a>
    </li>
    <li class="global-nav__item">
      <a href="http://256interns.com/" class="global-nav__item-link" target="_blank">Internship</a>
    </li>
  </ul>
</nav>
