<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="alternate" href="/index.xml" type="application/rss+xml" title="{{ .Site.Title }}">

  <!-- robots -->
  {{ if (eq .Params.type "captures") }}
    <meta name="robots" content="noindex,nofollow">
  {{ end }}

  <!-- stylesheet -->
  <link rel="stylesheet" href="/{{ .Site.Params.stylesheet }}">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto:400,700|Roboto+Mono:400,500" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- javascript -->
  <script src="//code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
  <script src="/{{ .Site.Params.javascript }}"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.11.0/components/prism-core.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.11.0/components/prism-clike.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.11.0/components/prism-css.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.11.0/components/prism-bash.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.11.0/components/prism-ruby.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.11.0/components/prism-haml.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.11.0/components/prism-javascript.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.11.0/components/prism-sass.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.11.0/components/prism-scss.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.11.0/components/prism-pug.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.11.0/components/prism-markup.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.11.0/components/prism-go.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.11.0/components/prism-http.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.11.0/components/prism-json.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.11.0/components/prism-kotlin.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.11.0/components/prism-markdown.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.11.0/components/prism-nginx.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.11.0/components/prism-php.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.11.0/components/prism-python.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.11.0/components/prism-sql.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.11.0/components/prism-swift.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.11.0/components/prism-typescript.js"></script>

  <!-- rss -->
  {{ if .RSSLink }}
    <link href="/index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}">
    <link href="/index.xml" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}">
  {{ end }}

  <!-- site info -->
  <meta name="twitter:card" content="summary">
  <meta property="og:site_name" content="{{ .Site.Title }}">
  <meta property="og:locale" content="{{ .Site.Params.og_locale }}">
  <meta property="fb:app_id" content="{{ .Site.Params.fb_app_id }}">
  <meta property="og:url" content="{{ .Permalink }}">

  <!-- favicons -->
  {{ partial "header/favicons.html" . }}

  <!-- image -->
  {{ if .Params.image }}
    <meta name="twitter:image" content="/{{ .Params.image }}">
  {{ else }}
    <meta name="twitter:image" content="/{{ .Site.Params.og_image }}">
  {{ end }}

  <!-- author -->
  {{ if .Params.author }}
    <meta name="author" content="{{ .Params.author }}">
    <meta name="twitter:site" content="@{{ .Params.author }}">
  {{ else }}
    <meta name="author" content="{{ .Site.Copyright }}">
    <meta name="twitter:site" content="@machida">
  {{ end }}

  <!-- description -->
  {{ if .Params.description }}
    <meta name="description" content="{{ .Params.description }}">
    <meta property="og:description" content="{{ .Params.description }}">
    <meta name="twitter:description" content="{{ .Params.description }}">
  {{ else }}
    {{ if .IsHome }}
      <meta name="description" content="{{ .Site.Params.description }}">
      <meta property="og:description" content="{{ .Site.Params.description }}">
      <meta name="twitter:description" content="{{ .Site.Params.description }}">
    {{ else if .IsPage }}
      <meta name="description" content="{{ .Summary }}...">
      <meta property="og:description" content="{{ .Summary }}...">
      <meta name="twitter:description" content="{{ .Summary }}...">
    {{ else }}
      <meta name="description" content="{{ .Title }}に関連する記事の一覧です。{{ .Site.Params.description }}">
      <meta property="og:description" content="{{ .Title }}に関連する記事の一覧です。{{ .Site.Params.description }}">
      <meta name="twitter:description" content="{{ .Title }}に関連する記事の一覧です。{{ .Site.Params.description }}">
    {{ end }}
  {{ end }}

  <!-- title -->
  {{ if .Params.page_title }}
    <title>{{ .Params.page_title }}</title>
    <meta property="og:title" content="{{ .Params.page_title }}">
    <meta name="twitter:title" content="{{ .Params.page_title }}">
  {{ else }}
    {{ if .IsHome }}
      <title>{{ .Site.Title }}({{ .Site.Params.japanese_name }})</title>
      <meta property="og:title" content="{{ .Site.Title }}({{ .Site.Params.japanese_name }})">
      <meta name="twitter:title" content="{{ .Site.Title }}({{ .Site.Params.japanese_name }})">
    {{ else }}
      <title>{{ .Title }} - {{ .Site.Title }}({{ .Site.Params.japanese_name }})</title>
      <meta property="og:title" content="{{ .Title }} - {{ .Site.Title }}({{ .Site.Params.japanese_name }})">
      <meta name="twitter:title" content="{{ .Title }} - {{ .Site.Title }}({{ .Site.Params.japanese_name }})">
    {{ end }}
  {{ end }}

  <meta name="generator" content="{{ .Hugo.Generator }}">
</head>
