<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{ partial "header/head.html" . }}
<body>
<header class="header">
  <div class="container is-padding-horizontal-0-xs-down">
    <div class="header__inner">
      {{ if .IsHome }}
        <h1 class="header__site-name">
          {{ .Site.Params.japanese_name }}
        </h1>
      {{ else }}
        <p class="header__site-name">
          <a href="/" class="header__site-name-link">{{ .Site.Params.japanese_name }}</a>
        </p>
      {{ end }}
      <img src="/images/icicle.svg" class="header__icicle-image" alt="Icicle">
    </div>
  </div>
</header>
{{ partial "header/hero.html" . }}
