<!-- class, action, methodを変更しないでください -->
<form class="formrun" action="https://form.run/api/v1/r/bmrk24bjjznblsba0w68ec83" method="post">
  <!-- ↓自由に要素を追加・編集することができます -->
  <div class="form-items">
    <div class="form-item">
      <label class="form-item__label">お名前<span class="form-item__label-require">必須</span></label>
      <input class="form-item__text-input" data-formrun-required="" name="お名前" type="text">
    </div>
    <div class="form-item">
      <label class="form-item__label">メールアドレス<span class="form-item__label-require">必須</span></label>
      <input class="form-item__text-input" data-formrun-required="" data-formrun-type="email" name="メールアドレス" type="text">
      <div data-formrun-show-if-error="メールアドレス">メールアドレスを正しく入力してください</div>
    </div>
    <div class="form-item">
      <label class="form-item__label">内容<span class="form-item__label-require">必須</span></label>
      <textarea class="form-item__textarea js-autosize" data-formrun-required="" name="内容" style="overflow: hidden; word-wrap: break-word; resize: none; height: 320px;"></textarea>
      <div data-formrun-show-if-error="お問い合わせ">お問い合わせ入力してください</div>
    </div>
    {{ partial "contact-form/pp.html" . }}
    <div class="form-item">
      <label class="form-item__label is-inline-flex">個人情報利用同意<span class="form-item__label-require">必須</span>
      <input class="form-item__checkbox" data-formrun-required="" name="個人情報利用同意" type="checkbox"></label>
      <div data-formrun-show-if-error="個人情報利用同意">同意してください</div>
    </div>
    <div class="g-recaptcha" data-sitekey="6LfgHQodAAAAAETAWy-sCIo4iTtqDCuPhjzQk_cu"></div>
  </div>

  <!-- ボット投稿をブロックするためのタグ -->
  <div class="_formrun_gotcha">
    <style media="screen">._formrun_gotcha {position:absolute!important;height:1px;width:1px;overflow:hidden;}</style>
    <label for="_formrun_gotcha">If you are a human, ignore this field</label>
    <input type="text" name="_formrun_gotcha" id="_formrun_gotcha" tabindex="-1">
  </div>

  <ul class="form-actions__items">
    <li class="form-actions-item">
      <button class="form-actions-item__submit" type="submit" data-formrun-error-text="未入力の項目があります" data-formrun-submitting-text="送信中...">利用規約に同意して送信</button>
    </li>
  </ul>
</form>
<script src='https://www.google.com/recaptcha/api.js'></script>
