<section class="pp">
  <h2>プライバシーポリシー</h2>
  <h3>事業者名</h3>
  <p>株式会社フィヨルド</p>
  <h3>個人情報保護管理責任者</h3>
  <p>
    東京都世田谷区松原2-34-11 ベルヴィカワダ 201<br>
    個人情報保護管理責任者</p>
  <h3>利用目的</h3>
  <p>お問い合わせに対する回答を行うため。</p>
  <h3>第三者への提供</h3>
  <p>弊社は法律で定められている場合を除いて、個人情報を当該本人の同意を得ず第三者に提供することはありません。</p>
  <h3>個人情報の開示請求について</h3>
  <p>貴殿の個人情報の利用目的の通知、開示、内容の訂正、追加又は削除、利用の停止、消去及び第三者への提供の停止を要求する権利があります。</p>
  <h3>Google Analytics について</h3>

  <p>このサイトでは、訪問状況を把握するために Google 社のサービスである Google Analytics を利用しています。Google Analytics を利用しますと、Google 社がお客様の本サイトの訪問履歴を収集、記録、分析します。当社は、Google 社からその分析結果を受け取り、訪問状況を把握します。Google Analytics により収集、記録、分析された訪問者の情報に、特定の個人を識別する情報は含まれません。それらの情報は、Google社により同社のプライバシーポリシーに基づいて管理されます。</p>

  <p>ブラウザのアドオン設定でGoogle Analytics を無効にすることにより、Google Analytics 利用による訪問者の情報の収集を停止することが可能です。Google Analytics の無効設定は、Google 社によるオプトアウトアドオンのダウンロードページで 「Google Analytics オプトアウトアドオン」をダウンロードおよびインストールし、ブラウザのアドオン設定を変更することで実施することができます。なお、Google Analytics を無効設定した場合、本サイト以外のウェブサイトでもGoogle Analytics は無効になりますが、ブラウザのアドオンを再設定することにより、再度Google Analytics を有効にすることも可能です。</p>

  <p>Google Analytics の利用規約に関する説明については Google Analytics のサイトを、Google 社のプライバシーポリシーに関する説明については同社のサイトをご覧下さい。</p>

  <ul>
    <li><a href="http://www.google.com/analytics/terms/jp.html">Google Analytics の利用規約</a></li>
    <li><a href="http://www.google.com/intl/ja/policies/privacy/">Googleのプライバシーポリシー</a></li>
    <li><a href="https://tools.google.com/dlpage/gaoptout?hl=ja">Google Analytics オプトアウトアドオン</a></li>
  </ul>
</section>
