{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
  <nav class="pagenation">
    <div class="container">
      <ul class="pagenation__items">
        {{/*最初へ*/}}
        {{ with $pag.First }}
          <li class="pagenation__item is-first">
            <a href="{{ .URL }}" aria-label="First" class="pagenation__link">
              <span aria-hidden="true"><i class="fa fa-angle-double-left"></i></span>
            </a>
          </li>
        {{ end }}

        {{/*前ページ*/}}
        <li class="pagenation__item is-previous {{ if not $pag.HasPrev }}disabled{{ end }}">
          <a href="{{ if $pag.HasPrev }}{{ $pag.Prev.URL }}{{ end }}" aria-label="Previous" class="pagenation__link">
              <span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
          </a>
        </li>

        <li class="pagenation__item is-count">
          {{.Paginator.PageNumber}}/{{.Paginator.TotalPages}}
        </li>

        {{/*番号*/}}
        {{ range $pag.Pagers }}
          <li class="pagenation__item is-number">
              <a href="{{ .URL }}" class="pagenation__link {{ if eq . $pag }}is-active{{ end }}">{{ .PageNumber }}</a>
          </li>
        {{ end }}

        {{/*次ページ*/}}
        <li class="pagenation__item is-next {{ if not $pag.HasNext }}disabled{{ end }}">
          <a href="{{ if $pag.HasNext }}{{ $pag.Next.URL }}{{ end }}" aria-label="Next" class="pagenation__link">
              <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
          </a>
        </li>

        {{/*最後へ*/}}
        {{ with $pag.Last }}
          <li class="pagenation__item is-last">
            <a href="{{ .URL }}" aria-label="Last" class="pagenation__link">
              <span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span>
            </a>
          </li>
        {{ end }}
      </ul>
    </div>
  </nav>
{{ end }}
