.hero
  display: flex
  justify-content: center
  align-items: center
  +media-breakpoint-down(sm)
    display: block
    height: auto
  .container
    width: 100%

.hero__inner
  +position(relative)
  width: 100%

.hero__site-title
  display: flex
  justify-content: center
  +margin(vertical, 4rem)
  +media-breakpoint-down(sm)
    +margin(vertical, 1rem 2rem)

.hero__site-title-link
  display: flex
  justify-content: center
  &:hover
    opacity: .8
  +media-breakpoint-down(sm)
    width: 58%
    display: block
    +margin(horizontal, auto)

.hero__site-title-link-image
  flex: 0 0 18.5rem
  display: block
  +media-breakpoint-down(sm)
    margin-bottom: 0
    +size(100% auto)
