.article-publish-at
  +position(absolute, left -1.5rem, top -2.5rem)
  font-family: 'Roboto Mono', monospace
  +text-block(.875rem 1, $text-color center flex nowrap 500)
  background-color: $yellow-tint
  +size(5rem)
  border-radius: 50%
  justify-content: center
  align-items: center
  flex-direction: column-reverse
  flex: 0 0 5rem
  +media-breakpoint-down(sm)
    display: inline-flex
    position: static
    +size(auto)
    background-color: transparent
    flex-direction: row
    flex: 0 0 3.5rem
    border-radius: .125rem

.article-publish-at__date
  padding-top: .25rem
  +text-block(1.125rem 1 .25em, flex)
  justify-content: center
  +media-breakpoint-down(sm)
    padding-top: 0
    +text-block(.75rem 1 0, flex)

.article-publish-at__date-slash
  font-weight: 400
  +margin(horizontal, -.04em)
  &.is-first
    display: none
    +media-breakpoint-down(sm)
      display: block

.article-publish-at__year
  +text-block(.875rem 1, block)
  +media-breakpoint-down(sm)
    font-size: .75rem
