.is-long-text
  +long-text-style(1rem, 1rem)
  img
    border-color: #ececec
  p
    code
      background-color: #f0f0f0
  .highlight
    +source-code-pro
  pre[class*=language-]
    padding: 0
  label
    +text-block(.9375rem 1.5 .2rem, 700 block)
  textarea,
  input[type="text"]
    display: block
    border: 1px solid $text-color
    width: 100%
    margin-bottom: 1.5rem
    padding: .5rem
    +text-block(.875rem 1.8 $text-color)
  input[type="submit"]
    border: 1px solid $text-color
    padding: .5rem 1rem
    margin-bottom: 1.5rem
  iframe
    max-width: 100%
    margin-bottom: 2em
    display: block
    +margin(horizontal, auto)
    &.speakerdeck-iframe
      margin-bottom: 2em !important
  .amazlet-box:last-child
    margin-top: 4rem
    .amazlet-image img
      width: 10rem
  .question
    +text-block(1.25em 1.5, 700)
    padding-left: 1.5em
    +position(relative)
    +margin(vertical, 2em 1em)
    border-bottom: none
    padding-bottom: 0
  .question__icon
    +position(absolute, left 0, top -.125em)
    color: $accent-color
    +text-block(1em)
    transform: scale(-1, 1)
