<section class="member">
  <section class="member__inner">
    <img src="/images/komagata.jpg" class="member__image" alt="Fmwngkox 400x400">
    <div class="member__data">
      <h2 class="member__name is-en">
        Komagata
      </h2>
      <div class="member__job is-en">
        Engineer
      </div>
      <nav class="member-links">
        <ul class="member-links__items">
          <li class="member-links__item"><a href="" class="member-links__item-link">
            <i class="fa fa-github-alt"></i></a>
          </li>
          <li class="member-links__item"><a href="" class="member-links__item-link">
            <i class="fa fa-twitter"></i></a>
          </li>
          <li class="member-links__item"><a href="" class="member-links__item-link">
            <i class="fa fa-facebook"></i></a>
          </li>
          <li class="member-links__item"><a href="" class="member-links__item-link">
            <i class="fa fa-home"></i></a>
          </li>
        </ul>
      </nav>
    </div>
  </section>
</section>
