a
  transition: all .2s ease-in

.sm-container
  max-width: 45rem
  +padding(horizontal, 1rem)
  +margin(horizontal, auto)

.md-container
  max-width: 58rem
  +padding(horizontal, 1rem)
  +margin(horizontal, auto)
