body
  overflow-x: hidden
  width: 100%
  a
    transition: all .2s
  &.is-slided
    margin-left: 300px
    overflow: hidden

.sm-container
  max-width: 45rem
  +padding(horizontal, 1rem)
  +margin(horizontal, auto)

.md-container
  max-width: 58rem
  +padding(horizontal, 1rem)
  +margin(horizontal, auto)

.body
  &.is-page
    margin-top: 9rem
