{{ partial "header/header.html" . }}
<div class="body">
	{{ $paginator := .Paginate (where .Data.Pages "Section" "!=" "") 20}}
	{{ partial "articles/pagination.html" . }}
	<main role="main" class="articles">
		<header class="articles__header">
			<div class="sm-container">
				<h1 class="articles__title">Works</h1>
			</div>
		</header>
		<div class="works">
			<div class="container">
				<div class="row is-gutter-width-24-md-up is-gutter-width-16-sm-down">
					{{ range $paginator.Pages }}
			      <div class="col-md-3 col-xs-6">
			        <article class="home-works__item">
			          <a href="{{ .RelPermalink }}" class="home-works__item-link">
			            <img src="{{ .Params.image }}" alt="{{ .Title }}" class="home-works__item-image">
			            <h3 class="home-works__item-title">
			              {{ .Title }}
			            </h3>
			          </a>
			        </article>
		        </div>
					{{ end }}
				</div>
	    </div>
		</div>
	</main>
	{{ partial "articles/pagination.html" . }}
</div>
{{ partial "footer/footer.html" . }}
