{{ partial "header/header.html" . }}
<div class="body is-works">
  <article class="article">
    <div class="sm-container" itemprop="blogPost" itemscope="" itemtype="http://schema.org/BlogPosting">
      <div class="article__inner">
        <article class="article__content is-work">
          <header class="article__header">
            <h1 class="article__title" itemprop="headline">
              {{ if $.Params.site_url }}
                <a href="{{ $.Params.site_url }}" target="_blank" class="article__title-link">
                  {{ .Title }}
                </a>
              {{ else }}
          			<a href="{{ .RelPermalink }}" class="article__title-link">
                  {{ .Title }}
          			</a>
              {{ end }}
            </h1>
            <div class="article__meta">
              {{ partial "article/article-author.html" . }}
            </div>
          </header>
          <div class="is-long-text js-target-blank article__body" itemprop="articleBody">
            {{ .Content }}
          </div>
          {{ partial "work/work-site-url.html" . }}
          {{ partial "work/work-data.html" . }}
        </article>
  			{{ partial "article/previous-next-nav.html" . }}
      </div>
    </div>
  </article>
</div>
{{ partial "footer/footer.html" . }}
