<article class="article__content is-article">
  <header class="article__header">
    <h1 class="article__title" itemprop="headline">
      {{ if $.Params.site_url }}
        <a href="{{ $.Params.site_url }}" target="_blank" class="article__title-link">
          {{ .Title }}
        </a>
      {{ else }}
  			<a href="{{ .RelPermalink }}" class="article__title-link">
          {{ .Title }}
  			</a>
      {{ end }}
    </h1>
    {{ partial "article/article-publish-at.html" . }}
    <div class="article__meta">
      {{ partial "article/article-author.html" . }}
      {{ partial "article/article-tags.html" . }}
    </div>
  </header>
  <div class="is-long-text article__body" itemprop="articleBody">
    {{ .Content }}
  </div>
  <div class="disqus-comments">
    {{ template "_internal/disqus.html" . }}
  </div>
</article>
