<div class="company-profile">
  <ul class="company-profile__items">
    <li class="company-profile__item">
      <span class="company-profile__label">社名</span><span class="company-profile__value">合同会社フィヨルド（FJORD,LLC）</span>
    </li>
    <li class="company-profile__item">
      <span class="company-profile__label">所在地</span><span class="company-profile__value">〒151-0071<br>東京都渋谷区本町 1-36-11<br>ドエルヤマト 203</span>
    </li>
    <li class="company-profile__item">
      <span class="company-profile__label">最寄駅</span><span class="company-profile__value">京王新線 初台駅</span>
    </li>
    <li class="company-profile__item">
      <span class="company-profile__label">設立</span><span class="company-profile__value">2007年12月</span>
    </li>
    <li class="company-profile__item">
      <span class="company-profile__label">資本金</span><span class="company-profile__value">50万円</span>
    </li>
    <li class="company-profile__item">
      <span class="company-profile__label">従業員</span><span class="company-profile__value">2人</span>
    </li>
  </ul>
  <a href="https://goo.gl/Rxi8QY" class="company-profile__to-access-link" target="_blank">
    <div class="company-profile__to-access-link-icon">
      <i class="fa fa-map-marker"></i>
    </div>
  MAP</a>
</div>
