<div class="company-profile">
  <ul class="company-profile__items">
    <li class="company-profile__item">
      <span class="company-profile__label">社名</span><span class="company-profile__value">株式会社フィヨルド（Fjord, Inc）</span>
    </li>
    <li class="company-profile__item">
      <span class="company-profile__label">所在地</span>
      <span class="company-profile__value">〒156-0043<br><span>東京都世田谷区松原2-34-11</span><br><span>ベルヴィカワダ 201</span></span>
    </li>
    <li class="company-profile__item">
      <span class="company-profile__label">最寄駅</span><span class="company-profile__value">明大前駅（京王線、井の頭線）<br>下高井戸駅（京王線、世田谷線）</span>
    </li>
    <li class="company-profile__item">
      <span class="company-profile__label">設立</span><span class="company-profile__value">2007年12月</span>
    </li>
    <li class="company-profile__item">
      <span class="company-profile__label">資本金</span><span class="company-profile__value">50万円</span>
    </li>
    <li class="company-profile__item">
      <span class="company-profile__label">従業員</span><span class="company-profile__value">2人</span>
    </li>
  </ul>
  <a href="https://www.google.co.jp/maps/place/%E3%80%92156-0043+%E6%9D%B1%E4%BA%AC%E9%83%BD%E4%B8%96%E7%94%B0%E8%B0%B7%E5%8C%BA%E6%9D%BE%E5%8E%9F%EF%BC%92%E4%B8%81%E7%9B%AE%EF%BC%93%EF%BC%94%E2%88%92%EF%BC%91%EF%BC%91+%E3%83%99%E3%83%AB%E3%83%B4%E3%82%A3%E3%82%AB%E3%83%AF%E3%83%80/@35.6677577,139.642881,17z/data=!3m1!4b1!4m5!3m4!1s0x6018f3aed2849105:0x96604666546a5a04!8m2!3d35.6677577!4d139.6450697" class="company-profile__to-access-link" target="_blank">
    <div class="company-profile__to-access-link-icon">
      <i class="fas fa-map-marker-alt"></i>
    </div>
  MAP</a>
</div>
