<div class="home-about-us">
  <h2 class="home-about-us__title">
    About Us
  </h2>
  <div class="home-about-us__body">
    <img src="/images/home/reindeer.png" class="home-about-us__body-image" alt="トナカイ">
    <p>合同会社フィヨルドはエンジニア一人、デザイナ一人の合計二人のシステム開発会社です。</p>
    <p>受託開発と自社サービス運営、<a href="https://bootcamp.fjord.jp/" target="_blank">プログラミング教育</a>を行っています。</p>
    <p>Ruby on Railsを使ったWebアプリの開発が得意です。
    <p>システム・インフラ構築もデザインも一社でできるので、受託開発を注文する場合は話も早いし、作業も速いし、色々お得です（<a href="/commissioned-development/">受託開発のご案内</a>）。</p>
  </div>
</div>
