{{ $mytag := "information" }}
{{ range first 1 (where (index .Site.Taxonomies.tags $mytag).Pages "Section" "==" "articles") }}
    <div class="home-information">
      <div class="home-information__inner">
        <div class="home-information-content">
          <header class="home-information-content-header">
            <h2 class="home-information-content-header__title">
              <span class="home-information-content-header__label">NEWS</span>
              <a href="{{ .RelPermalink }}" class="home-information-content-header__title-link js-mojik">{{ .Title }}</a>
            </h2>
          </header>
          <div class="home-information-content-body">
            {{ .Summary }}
          </div>
          <footer class="home-information-content-footer">
            <a href="{{ .RelPermalink }}" class="home-information-content-footer__more">...記事を読む</a>
          </footer>
        </div>
      </div>
    </div>
{{ end }}
