<div class="home-works">
  <h2 class="home-works__title is-en">
    Our Works
  </h2>
  <div class="home-works__items">
		<div class="row is-gutter-width-32-md-up is-gutter-width-16-sm-down">
			{{ range first 9 (where .Site.RegularPages "Section" "==" "works") }}
	      <div class="col-md-4 col-xs-6">
	        <article class="home-works__item">
	          <a href="{{ .RelPermalink }}" class="home-works__item-link">
	            <img src="{{ .Site.BaseURL }}{{ .Params.image }}" alt="{{ .Title }}" class="home-works__item-image">
	            <h3 class="home-works__item-title">
	              {{ .Title }}
	            </h3>
	          </a>
	        </article>
        </div>
			{{ end }}
		</div>
	</div>
	<div class="home-works__to-index-link-container">
		<a href="/works.html" class="home-works__to-index-link">Works一覧へ</a>
	</div>
</div>
