<div class="home-contacts">
	<h2 class="home-contacts__title is-en">
    Contact Us
  </h2>
	<div class="home-contacts__items">
		<article class="home-contact" itemscope itemtype="http://schema.org/Blog">
			<div class="home-contact__content">
				<a href="/commissioned-development/" class="home-contact__link">
					<div class="home-contact__link-inner">
						<img src="/images/home/commissioned-development.png" alt="受託開発のお問い合わせ" class="home-contact__author-image">
						<h3 class="home-contact__title js-mojik" itemprop="headline">
							受託開発のお問い合わせ
						</h3>
					</div>
				</a>
			</div>
		</article>
		<!--
			<article class="home-contact" itemscope itemtype="http://schema.org/Blog">
				<div class="home-contact__content">
					<a href="/student-internship/" class="home-contact__link">
						<div class="home-contact__link-inner">
							<img src="/images/home/student-internship.png" alt="受託開発のお問い合わせ" class="home-contact__author-image">
							<h3 class="home-contact__title js-mojik" itemprop="headline">
								学生インターンシップ
							</h3>
						</div>
					</a>
				</div>
			</article>
		 -->
		<article class="home-contact" itemscope itemtype="http://schema.org/Blog">
			<div class="home-contact__content">
				<a href="/commissioned-development/" class="home-contact__link">
					<div class="home-contact__link-inner">
						<img src="/images/home/bootcamp.png" alt="受託開発のお問い合わせ" class="home-contact__author-image">
						<h3 class="home-contact__title js-mojik" itemprop="headline">
							プログラマー就職支援サービス
						</h3>
					</div>
				</a>
			</div>
		</article>
	</div>
</div>
