<article class="article__content is-article">
  <header class="article__header">
    <h1 class="article__title" itemprop="headline">
      {{ if $.Params.site_url }}
        <a href="{{ $.Params.site_url }}" target="_blank" class="article__title-link">
          {{ .Title }}
        </a>
      {{ else }}
  			<a href="{{ .RelPermalink }}" class="article__title-link">
          {{ .Title }}
  			</a>
      {{ end }}
    </h1>
  </header>
  <div class="is-long-text article__body" itemprop="articleBody">
    {{ .Content }}
  </div>
</article>
