<aside class="ad">
  <header class="ad__header">
    <h2 class="ad__title">Webプログラミングスクール</h2>
  </header>
  <div class="ad__body">
    <!--
      <p>
        <a href="https://bootcamp.fjord.jp/">
          <img src="/images/ad/bootcamp-banner.svg" alt="Fjord Boot Camp（フィヨルドブートキャンプ）">
        </a>
      </p>
    -->
    <p>このエントリーはWebプログラミングスクールFjord Boot Camp（フィヨルドブートキャンプ）教材の1つです。</p>
    <p>ここで出てきたRubyやbundler、HTTPプロトコルなどの前提となる知識は全てFjord Boot Campで学べます。</p>
    <p>本気でWebプログラマーになりたい方は是非、<a href="https://bootcamp.fjord.jp/">こちら</a>からご応募を！！</p>
  </div>
</aside>
