.articles-article
  margin-bottom: .0625rem
  &:last-child
    margin-bottom: 0

.articles-article__inner
  +position(relative)

.articles-article__content
  +position(relative)
  background-color: $white
  padding: 1rem
  display: flex
  .articles-article:first-child &
    +border-radius(top, .1875rem)
  .articles-article:last-child &
    +border-radius(bottom, .1875rem)
  +media-breakpoint-down(sm)
    padding: .5rem .75rem

.articles-article__header
  margin-bottom: 1.5rem
  padding-left: 1.5rem
  width: 100%
  display: flex
  flex-direction: column
  justify-content: center
  +media-breakpoint-down(sm)
    margin-bottom: 0
    padding-left: .75rem
  &:last-child
    margin-bottom: 0

.articles-article__title
  +text-block(1.125rem 1.45, 700 block)
  letter-spacing: .02em
  width: 100%
  +media-breakpoint-down(sm)
    +text-block(.8125rem 1.45, 400)
    height: 100%

.articles-article__title-link
  +block-link
  color: $text-color
  +padding(vertical, .25rem)
  +media-breakpoint-down(sm)
    display: flex
    align-items: center
    height: 100%
  &:hover
    color: $accent-color

.articles-article__tags
  margin-bottom: -.5rem
