<nav class="global-nav">
  <ul class="global-nav__items">
    <li class="global-nav__item">
      <a href="/articles" class="global-nav__item-link">Articles</a>
    </li>
    <li class="global-nav__item">
      <a href="/contact/" class="global-nav__item-link">Contact</a>
    </li>
    <li class="global-nav__item">
      <a href="https://kulku.me/routes/463" class="global-nav__item-link" target="_blank">Access</a>
    </li>
    <li class="global-nav__item">
      <a href="http://256interns.com/" class="global-nav__item-link" target="_blank">Internship</a>
    </li>
  </ul>
</nav>
