<nav class="global-nav">
  <ul class="global-nav__items">
    <li class="global-nav__item">
      <a href="/articles" class="global-nav__item-link">Articles</a>
    </li>
    <li class="global-nav__item">
      <a href="/contact/" class="global-nav__item-link">Contact</a>
    </li>
    <li class="global-nav__item">
      <a href="/access/" class="global-nav__item-link">Access</a>
    </li>
    <li class="global-nav__item">
      <a href="/internship/" class="global-nav__item-link">Internship</a>
    </li>
  </ul>
</nav>
