.landing-page
  background-color: $white
  padding: 2rem
  border-radius: .1875rem
  +media-breakpoint-down(sm)
    padding: 1rem

.landing-page__eyectach-image
  +size(100% auto)
  margin-bottom: 2.5rem

.commissioned-development-features
  margin-bottom: 2rem

.commissioned-development-features__title
  +text-block(1.75rem 1 2.25rem, center)

.commissioned-development-features__items
  display: flex
  align-items: center
  justify-content: center

.commissioned-development-features__item
  +size(8rem)
  background-color: #ffc042
  border-radius: 50%
  border: solid .1875rem
  box-shadow: white 0 0 0 4px inset
  &:nth-child(2)
    +margin(horizontal, 2.5rem)
