.home-works
  +position(relative)

.home-works__title
  +text-block(1.5rem 1.4 1rem, 700)
  font-family: Roboto, sans-serif
  +media-breakpoint-down(sm)
    +text-block(1.25rem 1.4 .75rem)

.home-works__item
  +size(100% auto)
  margin-bottom: 2rem
  +position(relative)
  cursor: pointer
  +media-breakpoint-down(sm)
    margin-bottom: 1rem

.home-works__item-title
  width: 100%
  +text-block(.875rem 1.4, 400 $default-text flex)
  height: 2rem
  align-items: center
  +media-breakpoint-down(sm)
    padding-top: .5rem
    font-size: .8125rem
