.home-information-content
  +position(relative)
  padding: 1.25rem
  background-color: $white
  border-radius: .1875rem
  +media-breakpoint-down(sm)
    padding: 1rem

.home-information-content-body
  margin-bottom: .5rem
  +text-block(.8125rem 1.5, $muted-text)
  p
    +text-block(.8125rem 1.5 .25em, $muted-text)
  a
    +hover-link-reversal
  *:last-child
    margin-bottom: 0
