.home-about
  margin-bottom: 2rem
  background-color: $shade-white

.home-about__inner
  +padding(vertical, 1.75rem)

.home-abour__lead
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  +padding(horizontal, 2.75rem)

.home-abour__lead-image
  width: 100%
  display: block
